@import url('https://fonts.googleapis.com/css?family=Lato');


a span {
	display: none;
	position: absolute;
	color: #fff;
	padding: 5px;
	left: 80px;
	top: -100px;
}

a {
	position: relative;
}

a:hover span {
	display: block;
}

#username {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
}

#reviews_total {
	font-family: 'Lato', sans-serif;
	font-size: 0.9em;
	padding-left: 20px;
	color: rgb(47,47,255);
}

.top {
	margin-top: 100px;
}

.block {
	margin-bottom: 20px;
}

.sblock {
	margin-bottom: 10px;
}

.bold {
	font-weight: bold;
}

.text {
	font-family: 'Lato', sans-serif;
	font-size: 0.9em;
}
